.chat-container{
    width:50%;
    background-color: #fafafa;
    display:flex;flex-direction: column;
    height:600px
}
.msgs{
    display: flex;
  padding: 20px 10px 0 20px;
  margin: 20px;
  border-radius: 3000px;
  /* box-shadow: 0 0 10px rgb(164, 164, 164); */
  align-items: center;
  flex-direction: column;
  justify-content:space-between;
    
}
.sent{

    color: #395dff;
    border: 1px solid #395dff;
    display: flex;
   
    flex-direction: row-reverse;
   
    padding: 20px 20px 0 10px;
    text-align: end;
    float: right;
   width: 100%;
   border-radius: 25px;
   height: 70px;
   margin-top: 15px;
}
.received{
    border-radius: 25px;
    height: 70px;
    width: 100%;
    color: #000000;
    border: 1px solid lightgray;
    margin-top: 15px;
  background-color: #fafafa;
  /* border-top-left-radius: 1000px; */
  float: left;
  padding-right: 15px;
  text-align: center;
  padding-top: 15px;
  
}
.data{
    display: flex;
/* background-color: #ff0; */
/* justify-content:space-between */

}
.data p{
font-size: 18px;
padding-left:15px;

}
.data img{
  
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
margin-bottom:15px
}
.sendMsg{
position: fixed;
display: flex;
width: 100%;
bottom: 0;
z-index: 1;
border-top: 1px solid lightgray;
margin-left: -5px;
padding: 10px;
padding-bottom: 30px;
background-color: #fafafa;

}
.sendMsg input{
    border: none;
    border-bottom: 1px solid lightgray;
    width: 40%;
}

.sendMsg button{
    border:none;
    padding: 10px 20px;
   background-color: #fafafa;
}