.navBar-container{
    background-color: #7879F1;
    padding: 15px;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
}
.icon{
    color:#fff;
    font-weight: bold;
    margin-left:10px;
    font-size: 25px;
}
.navBar-icon{
    padding-right:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 15px; */

 
}